.contenedor-recetas {
  padding: 2rem;
  margin: 0 auto;
}

.filtros-recetas {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.filtros-recetas select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.grid-recetas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 0.9rem;
  background-color: whitesmoke;
  padding: 3.5%;
}

.card-receta {
  background-color: #f7f3f1;
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  border: 3px dashed #DA443F;
  height: 390px; /* Aproximadamente 2:3 si el ancho base es ~260px */
}

.card-receta:hover {
  transform: scale(1.03);
}

.card-img {
  width: 100%;
  height: 30%; /* Imagen ocupa 60% de la tarjeta */
  overflow: wrap;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-contenido {
  padding: 1rem;
  height: 40%; /* Contenido ocupa 40% restante */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-contenido h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #c6382e;
}

.card-contenido p {
  margin: 0.5rem 0;
  font-size: 0.95rem;
  color: #444;
  flex: 1;
}

.card-contenido small {
  color: #777;
  font-size: 0.8rem;
}
